# Compiled class file
*.class

# Log files
*.log

# Scout related
reports/
client_log.txt
system.properties

# Dependencies
bin/

# Intellij+iml
.idea
*.iml
*.ipr

# Maven
target/

# Eclipse
.settings/
.project
.classpath
*.tmp
